Repository jos-felipe/webserv, pull requests merged in 2025-08, with the labels that each got.

#43 42 asanni improve html
  src/http/HttpRequest.cpp
  www/datareceived.html
  www/images/done.gif
  www/images/suggestion-box.gif
  www/index.html
  www/style.css
  www/sucessupload.html
Labels: enhancement, feature, style

#50 adding the graphic interface for the CGI
  www/cgi.html
  www/index.html
  www/upper.py
Labels: feature, cgi, style

#61 DONE: #60 -> Create a new config file for evaluation to suport multip…
  conf/eval.conf
  test_diff_hostnames.sh
Labels: config
